table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table 
{
    height: 50vh;
    width: 80%;
    margin: auto;
}
.details
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    text-transform:capitalize;
    text-decoration: none;
    color: rgb(126, 241, 11)
}